[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "LncFinder"]
	path = LncFinder
	url = https://github.com/cran/LncFinder
	shallow = true
	registered = true
[submodule "TIGERr"]
	path = TIGERr
	url = https://github.com/han-siyu/tiger
	shallow = true
	registered = true
